<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Apple Pie</string>
		<key>imgname</key>
		<string>Coff-01</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Cherry Pie</string>
		<key>imgname</key>
		<string>Coff-01</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Galette</string>
		<key>imgname</key>
		<string>Coff-01</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Moon Cake</string>
		<key>imgname</key>
		<string>Coff-01</string>
	</dict>
	<dict>
		<key>label</key>
		<string>Banitsa</string>
		<key>imgname</key>
		<string>Coff-01</string>
	</dict>
</array>
</plist>
